.admin-sidebar {
  width: 250px;
  background: #1e2433;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  color: white;
}

.admin-sidebar h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.admin-crm-label {
  font-size: 16px;
  color: #b0b3c0;
  margin-bottom: 20px;
  margin-top: 10px;
  display: block;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.admin-header-wrapper {
  width: 50%;
  text-align: center;
  display: block;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar ul li {
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: 0.3s;
  margin-bottom: 10px;
  border-radius: 5px;
}

.admin-sidebar ul li i {
  margin-right: 12px;
}

.admin-sidebar ul li.active {
  background: #2980b9;
  font-weight: bold;
}

.admin-sidebar ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.admin-sidebar ul li a.admin-aside-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  border-radius: 5px;
  width: 100%;
}

.admin-sidebar ul li a.admin-aside-link:active {
  background: #2980b9;
  font-weight: bold;
}

.admin-aside-link {
  text-decoration: none;
  color: white;
}

.admin-aside-icon {
  color: #0f5472;
  margin-right: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .admin-sidebar {
      transform: translateX(-100%);
  }
  .admin-sidebar.active {
      transform: translateX(0);
  }
}
